/* Stylesheet created by Hunter Green */

/* Add an off-white background color */
body {
    background-color: #f9f9f9;
}

/* Added shadow to the title Jumbotron */
#title {
    box-shadow: 0 0 2em .2em #7e7e7e;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    color: #2a2556;
}

/* Add a gray background color and some padding and shadow to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
    box-shadow: 0 0 2em .2em #7e7e7e;
}

/* Adds a small shadow to the thumbnails */
.thumbnail {
    box-shadow: 0 0 2em .2em #7e7e7e;
}
